/* Bruce Provencher */
/* 07 JAN 2025 */
/* Style Sheet */
/* Source Web Dev Simplified: https://youtu.be/-0fAhoahXYw?feature=shared */

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

:root {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;

    --black: #000;
    --brightorange: #FF5219;
    --blue: #0000ff;
    --charcoal: #413333;
    --desertsand: #D8B56A;
    --flatblue: #76CDE2;
    --green: #00ff00;
    --lightgreen: rgb(152, 245, 152);
    --lightpurple: #D0A8D0;
    --limegreen: #96F11B;
    --orange: #F1581B;
    --page-bg: #C2CFC3;
    --red: #ff0000;
    --robinsegg: #2FDECA;
    --skyblue: #1B8DF1;
    --steelblue: #609FBD;
    --white: #fff;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 50px;
    justify-content: center;
    gap: 10px;
    /* Add margin property for spacing and centering */
    margin: 20px auto 0; /* 20px from the top, auto centers horizontally */
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}

.item {
    background-color: var(--red);
}

.subgrid .subitem {
    background-color: var(--green);
}

